body {
    overflow-x: hidden;
    background-color: #000;
    font-family: SimHei;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
}

a {
    text-decoration: none;
}

button, input {
    outline: none;
}

ul, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}



/*页头*/
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header, .header2 {
    height: 50px;
    background-color: #2D2C2D;
    color: #fff;
    line-height: 50px;
    width: 100%;
    font-size: 20px;
}

    .header .title {
        display: block;
        text-align: center;
    }

        .header .title > span {
            font-size: 15px;
            padding: 12px;
            height: 100%;
        }

    .header .menu {
        /*position: relative;
        top: 0px;
        z-index: 1000;*/
        width: 100%;
        background-color: #000;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
        display: none;
    }

        .header .menu > li > a {
            padding: 0 20px;
            display: block;
            color: #fff;
            border-bottom: 2px solid #777;
            text-align: center;
        }



/*轮播图版块*/
.banner {
    margin-bottom: 6px;
}

    .banner .slides--titles {
        position: absolute;
        margin-right: 10%;
        bottom: 13px;
        right: 0px;
    }

        .banner .slides--titles li {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin-right: 3px;
        }

            .banner .slides--titles li .title--l {
                height: 100%;
                border-radius: 10px;
            }

    .banner .slides .title {
        display: block;
        padding: 9px;
        color: #fff;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: #000;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
    }

    .banner .slides img {
        width: 100%;
    }



/* 主页版块1 */
.main {
    height: 170px;
    margin-bottom: 6px;
}

    .main .block {
        position: relative;
        height: 100%;
        width: 32%;
        display: inline-block;
        float: left;
    }

        .main .block > span {
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            color: #fff;
            background-color: #000;
            padding: 5px 0;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            -khtml-opacity: 0.8;
            opacity: 0.8;
        }

    .main .block-2 {
        position: relative;
        height: 100%;
        width: 2%;
        display: inline-block;
        float: left;
    }

.block .blockbg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.touming {
    background: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/* 主页版块2 */
.main-2 {
    height: 170px;
    margin-bottom: 6px;
}

    .main-2 .block {
        position: relative;
        height: 100%;
        display: inline-block;
        float: left;
    }

    .main-2 .btngp {
        margin: 30px 0 0 0;
    }

        .main-2 .btngp img {
            width: 90%;
        }



/*教练风采版块*/
.teachers {
    height: 170px;
    margin-bottom: 6px;
}

    .teachers div, a {
        display: block;
        position: relative;
    }

    .teachers .block {
        height: 100%;
        width: 49%;
        display: inline-block;
        float: left;
    }

        .teachers .block span {
            position: absolute;
            bottom: 25%;
            left: 25%;
            padding: 2px 12px;
            color: #F38F44;
            border: 1px solid #F38F44;
            border-radius: 4px;
        }

        .teachers .block > div, a {
            height: 48%;
        }



/*教练风采版块详细信息*/
.teacherinfo .title {
    position: relative;
    color: #fff;
    text-align: center;
}

    .teacherinfo .title .bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
        z-index: -1;
    }

    .teacherinfo .title > div {
        display: inline-block;
        margin: 0 auto;
        height: 50px;
        padding-top: 10px;
    }

.teacherinfo .headimg {
    position: relative;
}

    .teacherinfo .headimg .img {
        padding: 20px 0;
        text-align: center;
    }

        .teacherinfo .headimg .img > img {
            border: 3px solid #999;
            border-radius: 150px;
            height: 150px;
            width: 150px;
        }

    .teacherinfo .headimg .bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 260px;
        background: #000;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
    }

    .teacherinfo .headimg .name {
        padding: 5px 0;
        color: #F38F44;
        border: 1px solid #F38F44;
        border-radius: 4px;
        margin: 0 auto;
        width: 20%;
        text-align: center;
        display: block;
    }

.teacherinfo .contentwarp {
    width: 95%;
    border-radius: 5px;
    margin: 20px auto 10px auto;
    background: #fff;
}

    .teacherinfo .contentwarp .title {
        color: #F46448;
        border-left: 3px solid #F46448;
        padding: 0 10px;
        margin: 15px;
        display: inline-block;
    }

    .teacherinfo .contentwarp .content {
        text-indent: 2em;
        margin: 0 20px 0 40px;
        font-size: 0.8em;
    }

        .teacherinfo .contentwarp .content img {
            width: 100%;
            margin-bottom: 10px;
        }



/*新闻版块*/
.news {
    width: 94%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 6px;
    border: 1px solid #bbb;
}

    .news .title {
        color: #F38F44;
        font-size: 1.3em;
        padding: 10px;
    }

    .news .list {
        padding: 0px;
    }

        .news .list li > a {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 28px;
            border-bottom: 2px solid #DBD7D2;
            margin-bottom: 5px;
            padding: 0 5px;
            color: #78716F;
        }

            .news .list li > a > span {
                padding-right: 10px;
                font-weight: bold;
                color: #F38F44;
            }



/*新闻版块详情*/
.newsdetail .head {
    color: #F46448;
    border-left: 3px solid #F46448;
    padding: 0 10px;
    margin: 15px;
    font-size: 1.5em;
}

.newsdetail .newswarp {
    width: 90%;
    margin: 0 auto;
}

    .newsdetail .newswarp .title {
        font-size: 1.2em;
    }

    .newsdetail .newswarp .content {
        text-indent: 2em;
        margin: 10px 0;
    }

/*在线报名版块*/
.regist input {
    display: block;
    background: #F67F2D;
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
    height: 40px;
    border: 2px solid #F9C099;
    color: #fff;
    padding: 0 15px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
}

    .regist input::-webkit-input-placeholder {
        color: #fff;
    }

    .regist input:-moz-placeholder {
        color: #fff;
    }

    .regist input::-moz-placeholder {
        color: #fff;
    }

    .regist input:-ms-input-placeholder {
        color: #fff;
    }

.regist .btn {
    display: block;
    width: 60%;
    height: 40px;
    border-radius: 10px;
    padding: 6px 0;
    margin: 20px auto;
    text-align: center;
    border: none;
    background: #fff;
    font-family: inherit;
    color: #C3362A;
    font-size: 17px;
}

.regist .title {
    color: #FDEEE7;
    padding: 20px 0 0 10px;
}

    .regist .title > div {
        padding: 10px 0 10px 0;
    }

/*兴甫风采版块*/
.xingfufengcai .block {
    width: 90%;
    margin: 0 auto 5px auto;
    padding: 5px;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    margin-bottom: 8px;
}

    .xingfufengcai .block img {
        width: 100%;
    }

.xingfufengcai .title {
    padding: 5px 0;
    font-size: 14px;
    color: #FB9758;
}

.xingfufengcai .floatright {
    padding-right: 10%;
    font-weight: bold;
}



/*兴甫风采版块详情*/
.xingfufengcaidetail {
    width: 95%;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 5px;
}

    .xingfufengcaidetail .banner1 {
        width: 95%;
        margin: 5px auto;
    }

        .xingfufengcaidetail .banner1 > img {
            width: 100%;
        }

    .xingfufengcaidetail .head {
        color: #F46448;
        border-left: 3px solid #F46448;
        padding: 0 10px;
        margin: 15px;
        font-size: 1.3em;
    }

    .xingfufengcaidetail .title {
        margin: 10px 20px;
        font-size: 1.1em;
        display: inline-block;
    }

    .xingfufengcaidetail .content {
        text-indent: 2em;
        padding: 10px 20px;
    }

        .xingfufengcaidetail .content img {
            width: 100%;
        }

/*页脚版块*/
.footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

    .footer > a {
        width: 50%;
        height: 100%;
        display: block;
        float: left;
        text-align: center;
        line-height: 40px;
        color: #fff;
    }

.footer2 {
    height: 40px;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-comment:before {
    content: "\e111";
}

.glyphicon-map-marker:before {
    content: "\e062";
}

.glyphicon-menu-hamburger:before {
    content: "\e236";
}

.jFlex {
    overflow: hidden;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slides {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.slides--anim {
    -moz-transition: transform ease-out .3s;
    -ms-transition: transform ease-out .3s;
    -o-transition: transform ease-out .3s;
    -webkit-transition: transform ease-out .3s;
    transition: transform ease-out .3s;
}

.slides--titles {
    margin: 0;
    padding: 0;
}

    .slides:before,
    .slides--titles:before,
    .slides:after,
    .slides--titles:after {
        content: ' ';
        display: table;
    }

    .slides:after,
    .slides--titles:after {
        clear: both;
    }

.slides li {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
}

.slides img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slides--titles li {
    background: #eee;
    cursor: pointer;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    -moz-transition: background linear .3s;
    -ms-transition: background linear .3s;
    -o-transition: background linear .3s;
    -webkit-transition: background linear .3s;
    transition: background linear .3s;
    width: 33.33333%;
}

.jflex--2 li {
    width: 50%;
}

.jflex--3 li {
    width: 33.3333333%;
}

.jflex--4 li {
    width: 25%;
}

.jflex--5 li {
    width: 20%;
}

.jflex--6 li {
    width: 16.6666667%;
}

.slides--titles li .title--l {
    background: #555;
    display: block;
    height: 4px;
    left: -100%;
    position: relative;
}

.slides--titles li .title--t {
    color: #333;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.slides--titles li.title--manual .title--l {
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}

.slides--titles li.title--auto .title--l {
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}

.slides--titles li.title--auto.title--active .title--l {
    -moz-transition: all linear 5s;
    -ms-transition: all linear 5s;
    -o-transition: all linear 5s;
    -webkit-transition: all linear 5s;
    transition: all linear 5s;
}

.slides--titles li.title--active .title--l {
    left: 0;
}

.slides--titles li.title--right .title--l {
    left: 100%;
}

.slides--titles li.title--active .title--t {
    font-weight: bold;
}

.slides--titles li.title--active {
    background: #ddd;
}
